target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

logs

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
front/.idea

.DS_Store
node_modules/
*.tgz
.vitepress/cache/
.vitepress/dist/
docs-site/.vitepress/cache/
docs-site/.vitepress/dist/
docs-site/node_modules/
knife4j-doc/
backup/

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/swagger-bootstrap-ui-front/.idea/
